*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(yellow,red);
}
.container{
    font-size: 25px;
    display:block;
    box-sizing: border-box;
    margin-top:80px;
}
.box1{
    height:250px;
    width:250px;
    background-color:pink;
    margin-top:150px;
    border-radius: 10px;
}
.box2{
    height:250px;
    width:250px;
    background-color:orange;
    margin-left: 550px;
    margin-top:-240px;
    border-radius: 10px;
}
.box3{
    height:250px;
    width:250px;
    background-color:yellow;
    float:right;
    margin-top:-240px;
    border-radius: 10px;
}
.box2 img{
    height:100%;
    width:100%;
}
.box3 img{
    height:100%;
    width:100%;
}
body h2{
    font-size:200px;
    text-align: center;
    margin:20px;
}
