*{
    margin:0px;
    border: 0px;
    box-sizing: border-box;
}
.container
{
    height: 1200px;px;
    width: 1200px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding:600px;
    margin-top:-280px;
}
.box1
{
    height:300px;
    width: 400px;
    border-radius: 10px;
    background-color: orange;
    margin-left:20px;
}
.box1 h3 
{
    color:orangered;
    font-size: 20px;
    text-align: center;
}
.box2
{
    height:300px;
    width:300px;
    border-radius: 10px;
    background-color: yellowgreen;
    margin-left: 20px;
}
.box2 h3 
{
    color:orangered;
    font-size: 20px;
    text-align: center;
}
.box3
{
    height:300px;
    width: 300px;
    border-radius: 10px;
    background-color:yellow;
    margin-left: 20px;
}
.box3 h3 
{
    color:orangered;
    font-size: 20px;
    text-align: center;
}
.box1 p
{
    margin-top:60px;
    font-size: 20px;
}
.box2 p
{
    margin-top:60px;
    font-size: 20px;
}
.box3 p
{
    margin-top:60px;
    font-size: 20px;
}
.container input[type="submit"]
{
    margin-top:20px;
    text-align: center;
    font-size:20px;
    border-radius: 10px;
}
